body {
    color: #454545;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

.problem-page-main-part {
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: .1px 1px 4px 0 #e7eeef;
    display: block;
}

.problem-row-main-part {
    box-sizing: border-box;
    margin: 30px auto;
    width: 1270px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: visible;
}

.user-profile-left-containe {
    width: 74%;
    height: auto;
    float: right;
    display: block;
    margin: 10px 5px 10px 0px;
    overflow: hidden;
}

.user-profile-right-containe {
    width: 24%;
    height: auto;
    border: 1px solid goldenrod;
    border-radius: 5px;
    box-shadow: 0 0 5px #454545;
    float: left;
    display: block;
    overflow: hidden;
    margin: 10px 0px 10px 5px;
}

.user-img {
    height: 140px;
}

.profile-img {
    margin: 5px 10px 5px 80px;
    text-align: center;
    width: 130px;
    height: 130px;
    border: 2px solid #4d79ff;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #4d79ff;
}

.user-name {
    margin: 15px auto;
    height: 25px;
    text-align: center;
    font-weight: 600;
}

.user-name a {
    text-decoration: none;
    color: #0c5460;
}

.user-info {
    height: auto;
}

.user-short-detials {
    margin: 0 0 15px;
}

.user-short-detials ol,
.user-short-detials ul {
    list-style: none;
}

.user-short-detials li a {
    color: #454545;
    outline: 0;
    text-decoration: none;
}

.user-short-detials li {
    padding: 5px 10px 5px 30px;
}

.user-short-detials li span {
    font-weight: 750;
    padding: 0 5px 0 0;
}

.user-profile-setting {
    margin: 20px;
    height: 60px;
    text-align: center;
}

.user-profile-setting button {
    width: 130px;
    height: 40px;
    font-weight: 600;
    color: hotpink;
    background: #d3ece1;
}

.submission-progress {
    height: auto;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.problem-solution-chart {
    height: 350px;
    /* border: 1px solid #bbb;
    border-radius: 5px; */
    margin-top: 15px;
    margin-bottom: 10px;
}

.chart-card-left {
    height: auto;
    border: 1px solid #bbb;
    border-radius: 5px;
    float: left;
    display: block;
    width: 48.5%;
}

.chart-card-right {
    height: auto;
    border: 1px solid #bbb;
    border-radius: 5px;
    float: right;
    display: block;
    width: 48.5%;
}

.title {
    text-align: center;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

.submission-detials {
    margin: 10px;
    margin-left: 60px;
}

.contest-progress {
    height: auto;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-top: 10px;
}

#contestGraph {
    height: 420px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    /* color: #555; */
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.user-info-card {
    height: auto;
    /* margin-top: 15px; */
    display: block;
}

.card-detials {
    height: 88px;
    margin-top: 10px;
}

.card-left {
    float: left;
    display: block;
    width: 48.5%;
}

.card-right {
    float: right;
    display: block;
    width: 48.5%;
}

.st-left {
    float: left;
}

.st-right {
    float: right;
}

.st-half-box {
    margin: 0 0 20px 0;
    width: 46.5%;
}

.st-half-box {
    border: 1px solid #BBB;
    border-radius: 3px;
    overflow: hidden;
}

.st-half-box h3 {
    background: #f3f3f3;
    border-bottom: #BBB solid 1px;
    font-size: 13px;
    font-weight: 700;
    margin: 0 auto;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
}

.st-number {
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

.solved-unsolved-problem-div {
    height: auto;
    margin-top: 15px;
    display: block;
    /* border: 1px solid purple; */
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
    text-align: center;
}

.row2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row2 .col.offset-s1 {
    margin-left: 8.3333333333%;
}

.row2 .col.s10 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row2 .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

table {
    width: 100%;
    display: table;
}

table,
th,
td {
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.bordered>thead>tr,
table.bordered>tbody>tr {
    border-bottom: 1px solid #d0d0d0;
}

#solved-unsolved-table .categories {
    width: 235px;
    font-size: 16px;
}

#solved-unsolved-table td {
    text-align: justify;
}

td,
th {
    padding: 15px 5px !important;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

table,
th,
td {
    border: none;
}

td,
th {
    padding: 0;
}

#solved-unsolved-table .category-pcount {
    padding-left: 10px;
}

.purple-text.text-darken-3 {
    color: #6a1b9a !important;
}

.purple-text {
    color: #9c27b0 !important;
}

b,
strong {
    font-weight: bold;
}

td a {
    outline: 0;
}

td a {
    text-decoration: none;
}

td a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

td a {
    background-color: transparent;
    font-size: 14px !important;
}

strong {
    font-weight: 600;
}

.solved-problem {
    color: green;
    font-weight: bolder;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.unsolved-problem {
    color: #d9071d;
    font-weight: bolder;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

/* Firend card */
.information-box {
    background: #FFF;
    border: 1px solid #BBB;
    border-radius: 3px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    width: 250px;
}

.information-box h3 {
    background: #f3f3f3;
    color: #454545;
    font-size: 12px;
    padding: 7px 0;
    text-align: center;
    border-bottom: 1px solid #BBB;
}

.pb-badges,
.pb-friends {
    padding: 10px 0;
    text-align: center;
}

.pb-all-badges {
    border-top: #BBB solid 1px;
    display: block;
    font-size: 10px;
    padding: 6px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

a {
    color: #454545;
    outline: 0;
    text-decoration: none;
}

.pb-friends li {
    border: #bbb solid 1px;
    border-radius: 3px;
    overflow: hidden;
}

.pb-badges li,
.pb-friends li {
    display: inline-block;
    height: 53px;
    margin: 1px;
    width: 53px;
}

.pb-friends a {
    display: inline-block;
}

.pb-badges li span,
.pb-friends li span {
    display: none;
}

.pb-badges li {
    background-image: url(https://resources.urionlinejudge.com.br/judge/img/5.0/badges.26082018.png);
    background-repeat: no-repeat;
}

.pb-badges li,
.pb-friends li {
    display: inline-block;
    height: 53px;
    margin: 1px;
    width: 53px;
}

.badge-31 {
    background-position: -106px -212px;
}

.badge-50 {
    background-position: -477px -159px;
}

.badge-35 {
    background-position: -159px -106px;
}

.badge-20 {
    background-position: -212px -212px;
}

.badge-11 {
    background-position: -53px -106px;
}

.badge-49 {
    background-position: -530px 0;
}

.user-profile-setting a {
    text-decoration: none;
}